@font-face {
    font-family: DMSerifDisplay-Regular;
    src: url(../fonts/DMSerifDisplay-Regular.ttf);
}

@font-face {
    font-family: Public Sans;
    src: url(../fonts/PublicSans-VariableFont_wght.ttf);
}