$main-bg-color: #EDF3F8;
$secondry-bg-color: #1B262F;
$main-font-color: #36536B;
$secondry-font-color: #FBFCFE;
$thirdly-font-color: #6C8294;
$main-button-color: #BA4270;
$button__font-color: #FBFCFE;
$primary-font-family: Public Sans;
$secondry-font-family: DMSerifDisplay-Regular;